@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family:'Lato', sans-serif;
}

:root {
  --red: #E52521;
  --yellow: #FBD000;
  --blue: #049CD8;
  --green: #43B047
}

#app {
  width: 100%;
  background-image: url("./assets/Mario-Characters/Mario-Banner-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#appTitle {
  font-size: 2.8rem;
  text-align: center;
  color: var(--red);
  margin: 0;
  padding: 0;
}

.explanationLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
}

.explanation {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 40%;
  color: var(--red);
  font-weight: 700;
  margin: 16px 0;
}

.explanationTxt {
  background-color: white;
  border-radius: 8px;
  padding:0 16px;
}

.btn {
  background-color: var(--yellow);
  border: none;
  color: var(--red);
  font-size: 24px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}

.scoreDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.scoreDiv > .scoreDivLayout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding:0 48px;
  position: fixed;
}

.scoreDiv > .score {
  margin: 0;
  padding: 0 48px;
  width: 100%;
  position: fixed;
}

#currentScore {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--yellow);
  border-radius: 8px;
  background-color: white;
  color: black;
}

#bestScore {
  width: 7%;
  text-align: center;
  color: var(--yellow);
  background-color: white;
  color: black;
  border-radius: 8px;
}


.cardsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 15%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 200px;
  margin: 1% .5%;
  text-align: center;
  cursor: pointer;
}

.card > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}



/* media query for mobile */
@media (max-width: 600px) {

  .cardsLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 15%;
  }

  .explanation {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--yellow);
    margin: 0;
    padding: 16px 80px;
    width: 100%;
  }

  .scoreDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .scoreDiv > .scoreDivLayout {
    display: flex;
    margin: 0;
    padding: 0 8px;
    position: fixed;
  }

  .scoreDi🇻  > .score {
    margin: 0;
    padding: 0 48px;
    position: fixed;
    width: 50%;
  }

  #currentScore {
    margin: 0;
    background-color:white;
    color: black;
    width:  20%;
  }

  #bestScore {
    width: 20%;
    text-align: center;
    margin: 0;
    background-color: white;
    color: black;
  }

  .card {
    margin: 16px;
  }
}

/* media query for tablet */
@media (min-width: 600px) and (max-width: 900px) {

  .cards {
    width: 100%;
  }
  .cardsLayout {
    display: flex;
    flex-direction: row;
    margin: 4% 8%;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    margin: 1%;
    cursor: pointer;
  }

  .scoreDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
  }

  .scoreDiv > .scoreDivLayout {
    display: flex;
    margin: 0;
    padding: 0 3px;
  }

  .scoreDiv > .score {
    margin: 0;
    padding: 0 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  .scoreDivLayout > h3 {
    margin: 0;
  }

  #bestScore {
    width: 8%;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8px;
  }

  #currentScore {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8px;
  }

}
