@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/super-mario-256');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family:'Super Mario Bros', sans-serif;
}

@font-face {
  font-family: "Super Mario Bros";
  src: url("./assets/fonts/SuperMario256.ttf") format("truetype");
}

:root {
  --red: #E52521;
  --yellow: #FBD000;
  --blue: #049CD8;
  --green: #43B047;
  --score-txt-size: 16px;
  --font-size-small: 12px;
}

#app {
  width: 100%;
  background-image: url("./assets/Mario-Characters/Mario-Banner-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#appTitle {
  font-size: 3rem;
  font-family: 'Super Mario Bros', sans-serif;
  text-align: center;
  color: var(--red);
  margin: 0;
  padding: 0;
}

.explanationLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explanation {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 40%;
  color: var(--red);
  font-weight: 700;

  margin: 16px 0;
}

.btn {
  background-color: var(--yellow);
  border: none;
  color: var(--red);
  font-size: 24px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}

.explainBtn {
  padding: 8px 24px;
  font-size: 16px;
  font-family: "Super Mario Bros", sans-serif;
}

.explanationTxt {
  background-color: white;
  border-radius: 8px;
  padding:0 16px;
  font-family: "Super Mario Bros", sans-serif;
}

.cards {
  width: 100%;
}

.card {
  cursor: pointer;
  z-index: 100;
}



.scoreDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.scoreDiv > .scoreDivLayout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 48px;
  position: fixed;
  z-index: 1;
}

.scoreDiv > .score {
  margin: 0;
  padding: 0 48px;
  width: 100%;
  position: fixed;
}

#currentScore {
  width: 7%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--yellow);
  border-radius: 8px;
  background-color: white;
  color: black;
}

#bestScore {
  width: 7%;
  padding: 8px;
  text-align: center;
  color: var(--yellow);
  background-color: white;
  color: black;
  border-radius: 8px;
}


.cardsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 15%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 200px;
  margin: 1% .5%;
  text-align: center;
  cursor: pointer;
}

.card > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
/* media query for smaller mobiles ----------------*/
@media (min-width: 0) and (max-width: 350px) {

  #appTitle {
    font-size: 16px;
  }

  .explanationLayout {
    margin: 0;
    padding: 0;
    width: 100;
  }

  .explanation {
    width: 88%;
  }

  .explanationTxt {
    margin: 0;
    font-size: 8px;
  }
  .scoreDiv > .scoreDivLayout {
    padding: 0;
    margin: 0;
  }

  .scoreDivLayout > .score {
    width: 100%;
  }

  #currentScore {
    width: 20%;
    margin: 0;
    padding: 2px;
    font-size: 8px;
  }

  #bestScore {
    width: 20%;
    margin: 0;
    padding: 2px;
    font-size: 8px;
  }

  .cardsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .card {
    height: 240px;
    width: 140px;
    margin: 5%;
    border-radius: 8px;
  }
  .card > h1 {
    font-size: 16px;
  }
}

/*  end media query for smaller mobiles*/

/* media query for most mobiles -------------------*/
@media (min-width: 350px) and (max-width: 717px) {
  #appTitle{
    font-size: 32px;
  }

  .explanation {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: var(--red);
    margin: 0;
    padding: 16px;
    width: 100%;
  }

  .explanationTxt {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 36px;
    font-family: "Super Mario Bros", sans-serif;
  }

  .explainBtn {
    padding: 8px 24px;
    font-size: 20px;
  }

  .explanationTxt > p {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-small);
  }


  .scoreDiv {
    width: 100%;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .scoreDiv > .scoreDivLayout {
    display: flex;
    margin: 0;
    padding: 0 8px;
    position: fixed;
  }

  .scoreDi🇻  > .score {
    margin: 0;
    padding: 0 48px;
    font-family: var(--);
    position: fixed;
    width: 50%;
  }

  h3 {
    padding: 0;
    margin: 0;
  }

  #currentScore {
    margin: 0;
    font-size: var(--font-size-small);
    background-color:white;
    color: black;
    width:  20%;
  }

  #bestScore {
    width: 20%;
    font-size: var(--font-size-small);
    text-align: center;
    margin: 0;
    background-color: white;
    color: black;
  }

  .cardsLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15% 4% 15%;
  }

  .card>img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .card {
    cursor: pointer;
    font-size: var(--font-size-small);
    margin: 16px;
  }


}
/* end of media query for most mobiles ------------*/

/* media query for most tablets -------------------*/
@media (min-width: 717px) and (max-width: 900px) {

  .scoreDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
  }

  .scoreDiv > .scoreDivLayout {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .scoreDiv > .score {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  .scoreDivLayout > h3 {
    margin: 0;
  }

  #currentScore {
    display: flex;
    width: 8%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8px;
  }

  #bestScore {
    width: 8%;
    font-size: 2vw;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 8px;
  }

  .cards {
    width: 100%;
  }

  .cardsLayout {
    display: flex;
    flex-direction: row;
    margin: 4% 8%;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    margin: 1%;
    cursor: pointer;
    font-size: var(--font-size-small);
  }

}

/* End of media query for most tablets ------------*/

/* media query for large tablets ------------------*/
@media (min-width: 900px) and (max-width: 1180px) {

  #currentScore{
    width: 10%;
    font-size: 16px;
    padding: 12px;
  }
  #bestScore{
    width: 10%;
    font-size: 16px;
    padding: 12px;
  }

  .card {
    margin: 2.5%;
    font-size: var(--font-size-small);
  }
}

/* End of media query for large tablets -----------*/
